* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 10px;
}

.container1 {
  display: grid;
  grid-template-rows: 4rem 1fr 0rem;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
        'h h h'
        's m m'
        'f f f';
  width: 100vw;
  height: 96vh;
  background-color: #e5e5dc;
}

.header {
  grid-area: h;
  background-color:#edddd0;
}

.side {
  grid-area: s;
  background-color: #e5e5dc;
  opacity: 90%;
}

.main {
  grid-area: m;
  background-color: #6e8783;
  font-size: 3rem;
}

.main p {
  font-size: 2rem;
}

footer {
  grid-area: f;
  background-color: #db504a;
}

footer p {
  font-size: 2rem;
  background-color: #db504a;
}

li {
  font-size: 4rem;
  list-style-type: none;
  margin-right: 3rem;
}

li a {
  font-size: 2rem;
  color: 6e8783;
  color: #334259;
  opacity: 100%;
}

.course li {
  color: red;
}

.top {
  display: flex;
  flex-direction: row;
  color: #e5e5dc;
}

img {
  width: 250px;
}

a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #334259;
}